<!doctype html>
<html>
    
<head><% include ./parts/head %></head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span></span>LessBuy</h1>
            <h2>Make Shopping easier and fun!</h2>
            <p>Login or Register with:</p>
            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div>
</body>

</html>
