<!doctype html>
<html>
    
    <head>
        <% include ./parts/head %>
    </head>
    
    <body>
        <div class="background"></div>
        <header><% include ./parts/header %></header>
            
       <section class="title">
           <div class="container">
               <p>EAT FRESH</p>
               <p class="subtitle">AN ORGANIC LIFE STYLE</p>
           </div>
       </section>
       
       <section class="strip">
           <div class="container">
            <nav class="stripNav">  
               <ul>
                    <a href="#"><li class="nav-hover">SHOW ME</li></a>
                    <a href="#"><li class="nav-hover">PEOPLE</li></a>
    				<a href="#"><li class="nav-hover">&</li></a>
        			<a href="/signup"><li class="nav-hover">SECRET</li></a>
        			<a href="/login"><li class="nav-hover">RECIPE</li></a>
    			</ul>
    		<nav class="navbar">
           </div>
       </section>
       
       <section class="display">
           <div class="container">
               <div class="gallery">
                    <ul>
                        <li class="pic1">
                            <div class="img-container">
                                <img class="image" src="https://static.pexels.com/photos/332090/pexels-photo-332090.jpeg">
                                <div class="img-hover">
                                    <img src="https://static.pexels.com/photos/5938/food-salad-healthy-lunch.jpg">
                                </div>
                            </div>
                        </li>
                        
                        <li class="pic2">
                            <div class="img-container">
                                <img class="image" src="http://greatist.com/sites/default/files/friends-dinner-party.jpg">
                                <div class="img-hover">
                                    <img src="https://static.pexels.com/photos/29682/pexels-photo-29682.jpg">
                                </div>
                            </div>
                        </li>
                        
                        <li class="pic3">
                            <div class="img-container">
                                <img class="image" src="https://static.pexels.com/photos/40064/theme-candid-portraits-smile-woman-girl-40064.jpeg">
                                <div class="img-hover">
                                    <img src="https://static.pexels.com/photos/5317/food-salad-restaurant-person.jpg">
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                    <div class="footer">
                        <p><i class="fa fa-copyright "></i> Diya Zhao 2017</p>
                    </div>
               </div>
           </div>
            
       </section>
       
    </body>
</html>
