<!doctype html>
<html>

<% include ./parts/head %>

    <body class="login-body">
        
        <header><% include ./parts/head %></header>
        
        <div class="login-container">
            <div class="login">
                <h3><span> Login</span></h3>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
            
                <!-- LOGIN FORM -->
                <form action="/login" method="post">
                    
                    <div class="form-input">
                        <input type="text"  placeholder="Type in your username?" value="diya" name="email">
                    </div>
                    
                    <div class="form-password">
                        <input type="password" placeholder="Type in your password" value="123" name="password">
                    </div>
                    
                    <button type="submit" class="submit-button">Login</button>
                </form>
                
                <p>Need an account? <a href="/signup">Signup</a></p>
                <p>Or go <a href="/">home</a>.</p>
            
            </div>
        </div>
    </body>
</html>
