<!doctype html>
<html>
<head><% include ./parts/profile-head %></head>
 
<body>
    <div class="profile-container">
    	<div class="row">
            <% include ./parts/profile-template %>
    	</div>
    </div>
<footer> <% include ./parts/footer %></footer>
</body>

</html>
