<!doctype html>
<html>
<head><% include ./parts/profile-head %></head>
 
<body>
 
    <div class="container" style="margin-top:50px;">
    	<div class="row">
            <% include ./parts/profile-template %>
    	</div>
    </div>
    
<footer> <% include ./parts/footer %></footer>
</body>
</html>
