<!doctype html>
<html>
<head><% include ./parts/head %></head>
 
<body>
    <header>
        <% include ./parts/item-header %>
    </header>
    
    <div class="shopping-container">
        <% include ./parts/items %>
    </div>
    
    
<footer> <% include ./parts/footer %></footer>

</body>

</html>