
<!doctype html>
<html>
<head><% include ./parts/head %></head>
<nav>
</nav>

<body class="signup-body">
    <div class="signup-container">
        <div class="signup">
            <h3><span>Create an account</span></h3>
        
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
        
            <!-- Signup FORM -->
            <form action="/signup" method="post">
                <div class="form-input">
                    <input type="text"  name="email" placeholder="What's your username?">
                </div>
                <div class="form-password">
                    <input type="password" name="password" placeholder="choose a password">
                </div>
        
                <button type="submit" class="submit-button">Signup</button>
            </form>
            <!--<hr>-->
            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
        
        </div>
    </div>
</body>
</html>
