<!doctype html>
<html>

<% include ./parts/head %>

    <body class="signup-body">
        
        <!--<div class="backImg"></div>-->
        
        <!--<header><% include ./parts/header %></header>-->
        
        <div class="signup-container">
            <div class="signup">
                <h1><span>Create an account</span></h1>
          
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>
            
                <form action="/signup" method="post">
                    
                    <div class="form-input">
                        <input type="text"  placeholder="What's your username?" name="email">
                    </div>
                    
                    <div class="form-password">
                        <input type="password"  placeholder="Choose a password" name="password">
                    </div>
            
                    <button type="submit" class="submit-button">Signup</button>
                </form>
    
                <p>Already have an account? <a href="/login">Login</a></p>
                <p>Or go <a href="/">home</a></p>
            
            </div>
        </div>
    </body>
</html>
