ul.topnav {
    list-style-type: none;
    padding: 0 40px;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}


ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    font-size:35px;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li.cart, ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 800px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}  

/*dash board, sign up, login page*/
.consistant-body {
    background-image: url("../imgs/background.jpg");
    font-family: 'Lato', sans-serif;
    background-size: cover;
}

/*dash board container*/
.jumbotron {
    /*position:absolute;*/
    margin-top: 30px;
    margin-left: 25%;
    margin-right:25%;
    background-color: rgba(194, 204, 173, 0.68);
}

.login, .signup {
    margin-left: 25%;
    margin-right:25%;
    background-color: rgba(194, 204, 173, 0.68);
}

h1, .form-group {
    padding-left:30px;
    padding-right:30px;
}

button{
    margin-left: 30px
}

p{
    text-align: center;
}
/*item page, item line space*/
.col-sm-6 {
    margin-top:3%;
    padding:10px;
}

.profile-container { 
    /*margin-top:5%;*/
    background-color:white;
    padding-left:5%;
    padding-right:5%;  
}

/*item size*/
.item-img{
    width: 300px;
    height: 180px;
}

/*add to cart font bold*/
#item,.add-to-cart{
    font-weight: bold;
}
