<!doctype html>
<html>
  <nav class="navbar item-navbar">
      <ul class="nav item-nav">
        <a href="/profile"><li class="nav-left nav-hover"><span class="nav-brand">Less Buy</span></li></a>
        <a href="/profile"><li class="nav-left nav-hover">shop online</li></a>
  			<a href="/logout"><li class="nav-left nav-hover"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</li></a>
  			
      </ul>
  </nav>
</html>