<!doctype html>
<html>
    <nav class="navbar">
      <ul class="nav">
                <a href="/"><li class="nav-left"><span class="nav-brand">Less Buy</span></li></a>
    			<a href="/profile"><li class="nav-left nav-hover">Shop online</li></a>
    			<a href="/signup"><li class="nav-left nav-hover">Sign Up</li></a>
    			<a href="/login"><li class="nav-right nav-hover log-in" id="demo-button">Sign In / Demo Account</li></a>
      </ul>
    </nav>
</html>