<!doctype html>
<html>
    <nav class="navbar">
      <ul class="nav index-nav" id="topNav">
          <a href="/"><li class="nav-right nav-hover"><span class="nav-brand">Less Buy</span></li></a>
    			<a href="/signup"><li class="nav-left nav-hover">Sign Up</li></a>
    			<a href="/login"><li class="nav-left nav-hover log-in" id="demo-button">Sign In / Demo Account</li></a>
    			
    			<a class="icon" href="javascript:void(0);" onclick="myFunction()">
    			  <li><i class="fa fa-bars" aria-hidden="true"></i></li>
				  </a>
				
      </ul>
      
    <script>
			function myFunction() {
					    var x = document.getElementById("topNav");
					    if (x.className === "nav") {
					        x.className += " responsive";
					        console.log('hello')
					    } else {
			        x.className = "nav";
			    }
			}
		</script>
		</nav>
		
</html>