<% for (var item in items ) { %>
<!--from this you can see item is a variable in items object -->
    <div class="gallery">
        
        <div class="col-item">
            
            <div class="post-img-content">
                <img src="<%- items[item].img %>" style="width:350;height:260" class="img-responsive item-img" />
                
                <span class="post-title" id = 'item'>   
                    <%- items[item].title %><br>
                    <!--item is a variable in items object-->
                </span>
                
                 <span class="price">   
                    Price: <%- items[item].price %>
                </span>

            </div>
            
            <div class="info">
                <div class="separator clear-left">
                    <p class="btn-add">
                        <i class="fa fa-shopping-cart"></i><a data-id=<%- items[item].id %> class="add-to-cart">Add to cart</a></p>
                      
                </div>
            </div>
            
        </div>
        
    </div>
<% } %>