<head>
    <title>LessBuy</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    
    <link rel="stylesheet" href="./css/style.css">

<ul class="topnav">
  <li class="logo"><a href="/profile"><img src="https://cdn2.iconfinder.com/data/icons/veggies-2/500/Cabbage-512.png" alt="Logo" style="width:40px;height:40px;"></a></li>
  <li><a href="/profile">LessBuy</a></li>
  <li class="right"><a class="glyphicon glyphicon-log-out" href="/logout">Logout</a></li>
  <li class="cart"><a href="/shopping-cart">shopping cart</a></li>
</ul>

